<h1>Here's our map!</h1>
<div id="destination-map"></div>

<%= javascript_tag do %>
  var latitude = '33.784624';
  var longitude = '-84.422030';
  var address = 'Strongbox West';
  var description = 'Strongbox West, home of Tech Talent South!';
<% end %>
